* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; /* 10px */
}

/* componentes reutilizáveis */
.container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid green;
}

.text {
  color: #f6f6f6;
  margin-bottom: 2rem;
  text-align: center;
}

section {
  padding-block: 3rem;
}

.border {
  height: 1px;
  background-color: #221E35;
  opacity: 0.4;
}

span {
  color: #E73739;
}

/* cabeçalho */
header {
  padding-block: 3rem;
}

.sobre {
  background-color: #221E35;
  background-image: url('./assets/images/galera-30.png');
  background-repeat: no-repeat;
  background-size: contain;  
  background-position: left top;
}

#sobre nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#sobre .logo {  
  width: 35%;
  margin-bottom: 2rem;
  align-self: flex-start;
}

#sobre .mockup {
  width: 80%;  
  margin-bottom: 2rem;
  align-self: center;
}

#sobre .qrcode {
  width: 40%;
}

#sobre h1 {
  font-size: 3.4rem;
}

#sobre p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  opacity: 0.8;
}

#sobre h2 {
  font-weight: 500;
}

#sobre nav div {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

/* beneficios */
#beneficios ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-position: inside;
  margin-bottom: 3rem;
}

#beneficios ul li {
  color: #221E35;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
}

/* perguntas */
#perguntas .perguntas-container {
  margin-bottom: 6rem;
  padding: 20px;
}

#perguntas h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  /* text-align: center; */
}

/* #perguntas h2::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #E73739;
  display: inline-block;
  border-radius: 50%;
  margin-right: 25px;
  align-self: flex-start;
} */

#perguntas p {
  color: #000000;
  opacity: 0.5;
  line-height: 150%;
  font-size: 1.6rem;
  /* margin-left: 35px; */
}

#perguntas ul {
  display: flex;
  list-style: none;
  padding-top: 4rem;
}

#perguntas .social-links {
  justify-content: space-between;
}

#perguntas .selos {
  gap: 2rem;
}

#perguntas .selo {
  width: 100%;
}









