* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; /* 10px */
}

/* componentes reutilizáveis */
.container {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid green; */
}

a {
  text-decoration: none;
}

.logo {
  width: 35%;
  margin-bottom: 2rem;
}

.text {
  color: #f6f6f6;
  margin-bottom: 2rem;
  text-align: center;
}

section {
  padding-block: 3rem;
}

.border {
  height: 1px;
  background-color: #221E35;
  opacity: 0.4;
}

span {
  color: #E73739;
}

/* cabeçalho */
header {
  padding-block: 3rem;
}

.sobre {
  background-color: #221E35;
  background-image: url('./assets/images/galera-30.png');
  background-repeat: no-repeat;
  background-size: contain;  
  background-position: left top;
}

#sobre nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sobre nav .desktop-container {
  flex-direction: column;
}

#sobre .logo {   
  align-self: flex-start;
}

#sobre .mockup {
  width: 80%;  
  margin-bottom: 2rem;
  align-self: center;
}

#sobre .qrcode-container a {
  display: inline-flex;
  justify-content: center;
}

#sobre .qrcode {
  width: 50%;
}

#sobre h1 {
  font-size: 3.4rem;
}

#sobre p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  opacity: 0.8;
}

#sobre h2 {
  font-weight: 500;
}

#sobre nav div {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

/* beneficios */
#beneficios ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  list-style-position: inside;
  margin-bottom: 3rem;
}

#beneficios ul li {
  color: #221E35;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
}

/* perguntas */
#perguntas .perguntas-container {
  margin-bottom: 6rem;
}

#perguntas .perguntas-container:last-child {
  margin-bottom: 0;
}

#perguntas h2 {
  font-size: 2.5rem;
  line-height: 130%;
  margin-bottom: 3rem;
  position: relative;
  margin-left: 30px;
}

#perguntas h2::before {
  content: '';
  width: 13px;
  height: 13px;
  background-color: #E73739;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 10px;
}

#perguntas p {
  color: #000000;
  opacity: 0.5;
  line-height: 150%;
  font-size: 1.6rem;
  margin-left: 35px;
}

#perguntas ul {
  display: flex;
  list-style: none;
  padding-top: 4rem;
}

#perguntas .social-links {
  justify-content: space-around;
}

#perguntas ul li a svg {
  width: 3rem;
  height: 3rem;
}

#perguntas .selos {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

#perguntas .selos a {
  display: inline-flex;
  justify-content: space-around;
}

#perguntas .selo {
  width: 80%;
}

/* rodapé */
footer {
  padding-block: 3rem;
  background-color: #221E35;
}

footer .politicas {
  list-style: none;
}

footer ul li {
  margin-bottom: 2rem;
}

footer ul li a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 1.2rem;
  opacity: 0.8;  
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer img.logo {
  width: 40%;
  margin-bottom: 0;
}

footer p {
  color: #f6f6f6;
  opacity: 0.5;
  font-size: 1.2rem;
}

/* media querie */
@media (min-width: 700px) and (max-width: 767px) {
  #sobre .logo {
    width: 20%;
  }

  #sobre .mockup {
    width: 55%;
  }

  #sobre .qrcode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  #sobre .qrcode {
    width: 20%;
  }

  /* benefícios */
  #beneficios ul {
    justify-content: space-evenly;
    gap: 3rem;
  }
  
  #beneficios ul li {
    font-size: 1.4rem;
    font-weight: 700;
  }

  /* perguntas */
  #perguntas .social-links {
    justify-content: center;
    gap: 4rem;
  }

  #perguntas ul li a svg {
    width: 3.2rem;
    height: 3.2rem;
  }

  #perguntas .selos a {
    display: inline-flex;
    justify-content: space-evenly;
  }

  #perguntas .selo {
    width: 40%;
  }

  /* rodapé */
  footer img.logo {
    width: 20%;
  }  
}

@media (min-width: 768px) and (max-width: 999px) {
  #sobre .logo {
    width: 15%;
  }

  #sobre .mockup {
    width: 45%;
  }

  #sobre .qrcode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  #sobre .qrcode {
    width: 20%;
  }

  /* benefícios */
  #beneficios ul {
    justify-content: space-evenly;
    gap: 3rem;
  }
  
  #beneficios ul li {
    font-size: 1.4rem;
    font-weight: 700;
  }

  /* perguntas */
  #perguntas .perguntas-container {
    margin-bottom: 6rem;
    width: 60%;
  }

  #perguntas .social-links {
    justify-content: center;
    gap: 4rem;
  }

  #perguntas ul li a svg {
    width: 3.2rem;
    height: 3.2rem;
  }

  #perguntas .selos a {
    display: inline-flex;
    justify-content: space-evenly;
  }

  #perguntas .selo {
    width: 45%;
  }

  /* rodapé */
  footer img.logo {
    width: 15%;
  }  
}

@media (min-width: 1000px) and (max-width: 2750px) {
  .sobre {
    background-color: #221E35;
    background-image: url('./assets/images/galera-30.png');
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: left top;
  }
  
  #sobre nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  
  #sobre nav .desktop-container {
    flex-direction: column;
  }

  #sobre .logo {
    width: 15%;
  }
  
  #sobre .mockup {
    width: 45%;  
    margin-bottom: 2rem;
    align-self: center;
  }

  #sobre .qrcode-container {
    justify-content: center;
    gap: 4rem;
  }
  
  #sobre .qrcode {
    width: 25%;
  }
  
  #sobre h1 {
    font-size: 3.4rem;
  }
  
  #sobre p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
    opacity: 0.8;
  }
  
  #sobre h2 {
    font-weight: 500;
  }
  
  #sobre nav div {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  /* beneficios */
  #beneficios ul li {
    color: #221E35;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
  }
  
  /* perguntas */
  #perguntas .perguntas-container {
    margin-bottom: 6rem;
    width: 50%;
  }  
  
  #perguntas .social-links {
    justify-content: center;
    gap: 6rem;
  }
  
  #perguntas .selo {
    width: 60%;
  }
  
  /* rodapé */  
  footer img.logo {
    width: 15%;
    margin-bottom: 0;
  }
  
}













